////
// MAIN
//

body {
  padding-top: 3em;
}

h1 {
  font-size: 4em;
  font-family: 'Helvetica Neue', sans-serif;
  color: #0c0;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
